[Unit]
Description=Gunicorn server for SITENAME
[Service]
Restart=on-failure
User=root
WorkingDirectory=/home/work/SITENAME/source
ExecStart=/home/work/SITENAME/virtualenv/bin/gunicorn \
                 --bind unix:/tmp/SITENAME \
                 TDD.wsgi:application
[Install]
WantedBy=multi-user.target